*.txt
*.png
*.eps
*.pdf
*.mat
*.swp
*.bin
*.tex
*.mexa64
*.tar
.DS_Store

nvmex
nvopts.sh
config

*.dat

numerics/dependencies/javaplex
numerics/dependencies/phat
numerics/dependencies/dipha
numerics/datasets/pointclouds
